/*Assignment Two (02.526 Interactive Data Visualisation)*/
body {
	text-align: center; 
	color: gray;
}

.svgRect {
    stroke: none;
    fill: #FFC300;
    margin-left:auto;
   	margin-right:auto;
   	display:block;
}
