/*Assignment Two (02.526 Interactive Data Visualisation)*/

body {
	text-align: center; 
	color: "black";
}

.svgRect {
    stroke: none;
    fill: #DAF7A6;
    margin-left:auto;
   	margin-right:auto;
   	display:block;
}


